body{
    background-color: rgb(173, 21, 59);
}
@media screen and (min-width :680px) {
    body {
        background-color: rgb(234, 58, 143);
    }
}
@media screen and (max-width:400px) {
    h1{
        color: yellow;
        font-weight: bolder;
    }
}
h1{
    /* color: rgb(255, 255, 255); */
    font-family: Cambria;
}
.text{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}
.you{
    color: white;
}
.me{
color: aquamarine;
}
@media screen and (max-width: 400px) {
    .text{
        display: flex;
        flex-direction: column;
    }
}